@model AppointmentMaker.Models.AppointmentModel

<div>
    <h4>Patient details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PatientNetWorth)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PatientNetWorth)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PainLevel)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PainLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
